@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC");
@import url("https://fonts.googleapis.com/css2?family=Alata");

.App {
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

button {
  color: white;
  border-color: white;
  border-radius: 1rem;
  border-style: solid;
  color: white;
  padding: 0.5rem;
}

body {
  background: linear-gradient(180deg, #AAFAFF 0%, #FFFFFF 100%);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}