#boards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    height: 100%;
}

.kanban {
    height: 100%;
}

.container {
    width: 100%;
    text-align: left;
}

#kanban-btns {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #00A9B4;
    color: white;
    border-style: none;
    border-radius: 1rem;
    font-family: 'Alata';
    font-weight: normal;
}

.btn:hover {
    background-color: white;
    color: #00A9B4;
}

.popup-content {
    border-radius: 1rem;
}

.popup-div {
    background: #00A9B4;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.popup-div button{
    padding: 0.25rem 0.5rem;
    min-width: 0;
    background-color: #9DA7FF;
    border-style: solid;
}

input {
    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    margin-top: 0.5rem;
}